@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 20px;
    background: rgb(140, 193, 240);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    height: 60px;
}


.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    width: 17%;  /* The logo will be 20% of the parent container's width */
    height: auto;
    margin-left: 15px;
  }


.year-text {
    font-size: 40px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.11);
    margin-left: 5px;
    padding: 0;
    line-height: 1;  
}


.navbar {
    display: flex;  /* Aligns items to the right side */
    justify-content: flex-end;
    align-items: center;
    white-space: nowrap;
    margin-left: 20px;              /* Makes the navbar take up remaining space */
    flex-shrink: 0;
}

.navbar a {
    position: relative;
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    margin-left: 20px;
    padding: 0;
}

.navbar a:last-child {
    margin-right: 0;  /* Ensure no extra space after the last link */
}

.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background:  rgb(2, 72, 118);
    transition: .3s;
}

.navbar a:hover {
    color: rgb(2, 72, 118); /* Change text color to blue on hover */
}

.navbar a:hover::before {
    width: 100%;
}

.project-name{
    font-size: 75px;
}

.abstract-container{
    display: flex;
    align-items: flex-start;
    margin: 10px 0;
    width: 100%;
    max-width: 1400;
    gap: 20px;
    /*position: relative*/;
}

.image-link {
    display: block;
    width: 220px;
    height: 220px;
    text-decoration: none;
    margin: 0;
}

.image-link:hover {
    cursor: pointer;
}

.image-container{
    position: relative;
    width: 220px;
    height: 220px;
    margin: 0;
    /*margin-left: -300px;*/
}

.logo-1-image,
.logo-2-image {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    transition: opacity 0s;
}


.logo-image{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
}

.logo-1-image {
    opacity: 1;
}

.logo-2-image {
    opacity: 0;
}

.logo-image {
    transition: transform 0.4s;
    animation: none;
}

.image-container:hover .logo-1-image {
    opacity: 0;
}

.image-container:hover .logo-2-image {
    opacity: 1;
}

.image-container:hover .logo-image {
    animation: spin 0.7s linear;
}

.image-container:hover .logo-image:nth-child(even) {
    animation: spin_again 0.7s linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes spin_again {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.abstract-text{
    flex: 1;
    /*max-width: 1400px;*/
    width: 70%;
    margin-left: 20px;
    /*min-width: 300px;*/
}

.abstract-title{
    font-weight: lighter;
    color: rgba(122, 129, 134, 0.896);
    font-size: 56px;
    text-align: center;
    margin-bottom: 10px;
}

.divider{
    border: none;
    position: relative;
    height: 2px;
    background-color: rgba(175, 173, 173, 0.584);
    width: 100%;
    margin: 10px 0;
}

.abstract-body{
    font-size: 30px;
    color: rgba(122, 129, 134, 0.896);
    line-height: 2;
    text-align: justify;
}