<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewpoint" content="width=device-width,
    initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    
{% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
  </head>
  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>
    <header class="header">
      <div class="logo-container">
        <img src="Logo.jpeg" class="logo" alt="Logo">
        <span class="year-text">2024</span>
        <span class="team-name"> - IMPERIAL</span>
      </div>
      <div class="navbar">
        <div class="dropdown">
          <a href="Introduction">INTRODUCTION</a>
          <div class="dropdown-content">
            <a href="Introduction.html#background">BACKGROUND</a>
            <a href="Introduction.html#problem">PROBLEM</a>
            <a href="Introduction.html#objectives">OBJECTIVES</a>
            <a href="Introduction.html#goals">GOALS</a>
          </div>
        </div>
        <div class="dropdown">
          <a href="Design">DESIGN</a>
          <div class="dropdown-content">
            <a href="Design.html#metabolite-channel-intro">METABOLITE CHANNELLING OVERVIEW</a>
            <a href="Design.html#nanotube-structure-design">NANOTUBE STRUCTURE DESIGN</a>
          </div>
        </div>
        <div class="dropdown">
          <a href="Build">BUILD</a>
          <div class="dropdown-content">
            <a href="Build.html#enzyme-synthesis">IsPETase AND IsMHETase SYNTHESIS</a>
            <a href="Build.html#dna-origami">DNA ORIGAMI</a>
          </div>
        </div>
        <div class="dropdown">
          <a href="Model">MODEL</a>
          <div class="dropdown-content">
            <a href="Model.html#diffusion-modelling">SIMULATION</a>
          </div>
        </div>
        <a href="Test">TEST</a>
        <a href="FutureWork">FUTURE WORK</a>
        <a href="TheTeam">THE TEAM</a>
      </div>
      
    </header>
    <header class="page-header" role="banner">
      <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
      {% if site.show_downloads %}
        <a href="{{ site.github.zip_url }}" class="btn">Download .zip</a>
        <a href="{{ site.github.tar_url }}" class="btn">Download .tar.gz</a>
      {% endif %}
    </header>
    
    <main id="content" class="main-content" role="main">
      <div class="abstract-container">
        <a href="https://imperialbiomod24.github.io/" class="image-link">
          <div class="image-container">
            <img src="Logo_1.svg" alt="Logo-1" class="logo-1-image">
            <img src="Logo_2.svg" alt="Logo-2" class="logo-2-image">
            <img src="Arrow.svg" alt="Arrow Image" class="logo-image">
          </div>
        </a>

        <div class="abstract-text">
          <span class="abstract-title">Abstract</span>
          <div class="divider"></div>
          <p class="abstract-body">"Of the 450 million tonnes of plastic produced globally every year, less than 10% is 
            estimated to be recycled. Insufficient and expensive recycling technologies limit the 
            proportion of plastics which can be repurposed into new materials, while lack of 
            economic incentive has encouraged the uptake of less sustainable waste management 
            strategies.
            The IsPETase-MHETase cascade is a new low energy recycling technology which is 
            able to degrade PET to useful products through the manipulation of cellular machinery. 
            Enzymes IsPETase and IsMHETase are immobilised on DNA origami modular 
            nanotubes to enhance degradation of PET via metabolite channelling.
            These products can be separated and used for the generation of new materials 
            (terephthalic acid) or repurposed for a variety of commercial applications including 
            antifreeze and break-fluid products.
            We hope that our technology may be used in the development of novel, low energy 
            plastic recycling techniques."</p>
        <div>
      </div>
    </main>

  </body>
</html>
